.navbar {
	background: #000;
	color: #fff;
}

.navbar .container {
	justify-content: space-between;
	align-items: center;
}

h1 {
	margin: 0;
}

.nav-links {
	list-style-type: none;
}

.nav-links li {
	margin: auto 10px;
	align-content: center;
}

.nav-links li a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 15px 30px;
	border-bottom: 3px solid transparent;
	transition: all 0.2s ease-in;
}

.nav-links li a:hover {
	border-bottom: 3px solid #fff;
}
