.form-blog.container {
  background-color: #fff;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.form-blog .form-group {
  background-color: #f1f5f8;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
}

.form-blog label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-blog .form-group input,
.form-blog .form-group textarea {
  width: 40vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.form-blog .form-group textarea {
  height: 150px;
}

.edit .form-group textarea:focus {
  outline: none;
  border: 2px solid #999;
}